{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% if miFormulario.errors %}

    <p style="color: red;"> Estan mal los datos, revisar </p>

    {% endif %}

    <h1>Cursos - Agregar Curso</h1>

    {% if miFormulario.errors %}
    <p style="color: red;"> ESTAN MAL LOS DATOS</p>
    {% endif %}
    
    <form action="" method="POST"> {% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit" value="Enviar">
    </form>

    <a href="curso/list">Ver lista de Cursos</a>

{% endblock %}