{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% if miFormulario.errors %}

    <p style="color: red;"> Estan mal los datos, revisar </p>

    {% endif %}

    <h1>Profesores - Agregar Profesores</h1>

    {% if miFormulario.errors %}
    <p style="color: red;"> ESTAN MAL LOS DATOS</p>
    {% endif %}
    
    <form action="" method="POST"> {% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit" value="Enviar">
    </form>

    <a href="leerProfesores">Ver lista de Profesores</a>

{% endblock %}